{%  extends 'base.html.twig' %}

{% block title %}Přihlášení{% endblock %}

{% block body %}
    <div class="karta">
<h1>Přihlášení</h1>

{% if error %}
<p style="color: red;">Nesprávné přihlašovací údaje!</p>
{% endif %}

<form action="{{ path('app_login') }}" method="post">
    <label for="email">Email: </label>
    <input type="text" id="email" name="_username" value="{{ posledni_username }}">

    <label for="heslo">Heslo: </label>
    <input type="password" id="heslo" name="_password">

    <button type="submit" class="button" style="margin-top: 12px;">Přihlásit se</button>
</form>
    <p style="margin-top: 10px;">Zapoměli jste heslo? <a href="{{ path('reset_hesla_zadost') }}">Obnovit heslo</a></p>
    <p>Nemáte účet? <a href="{{ path('app_registrace') }}">Registrujte se.</a></p>
{% endblock %}