{% extends 'base.html.twig' %}

{% block title %}Chyba serveru{% endblock %}

{% block body %}

    <div class="container mt-5 text-center">

        <h1>500</h1>

        <p>Nastala neočekávaná chyba aplikace.</p>

        <a href="{{ path('aukce') }}" class="btn btn-primary">
            Zpět na hlavní stránku
        </a>

    </div>

{% endblock %}